<div class="alert alert-info">
  Backlinks
  <hr>
  <p>Google: <%= @backlinks[:google] %></p>
  <p>Bing: <%= @backlinks[:bing] %></p>
  <p>Yahoo: <%= @backlinks[:yahoo] %></p>
  <p>Alexa: <%= @backlinks[:alexa] %></p>
</div>

<div class="alert alert-success">
  Indexes
  <hr>
  <p>Google: <%= @indexes[:google] %></p>
  <p>Bing: <%= @indexes[:bing] %></p>
  <p>Yahoo: <%= @indexes[:yahoo] %></p>
</div>

<div class="alert alert-warning">
  Ranks
  <hr>
  <p>Alexa US: <%= @ranks[:alexa_us] %></p>
  <p>Alexa global: <%= @ranks[:alexa_global] %></p>
  <p>Google: <%= @ranks[:google] %></p>
  <p>Moz rank: <%= @ranks[:moz_rank] %></p>
  <p>Page authority: <%= @ranks[:page_authority] %></p>
</div>