<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Qiang Crawler</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li<%= ' class=active' if params[:controller] == 'crawlers' and params[:action] == 'google' %>><a href="<%= google_path %>">Google</a></li>
        <li<%= ' class=active' if params[:controller] == 'crawlers' and params[:action] == 'facebook' %>><a href="<%= facebook_path %>">Facebook</a></li>
        <li<%= ' class=active' if params[:controller] == 'crawlers' and params[:action] == 'twitter' %>><a href="<%= twitter_path %>">Twitter</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li<%= ' class=active' if params[:controller] == 'crawlers' and params[:action] == 'flickr' %>><a href="<%= flickr_path %>">Flickr</a></li>
            <li<%= ' class=active' if params[:controller] == 'crawlers' and params[:action] == 'youtube' %>><a href="<%= youtube_path %>">YouTube</a></li>
            <li<%= ' class=active' if params[:controller] == 'crawlers' and params[:action] == 'amazon' %>><a href="<%= amazon_path %>">Amazon</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li<%= ' class=active' if params[:controller] == 'top' and params[:action] == 'index' %>><a href="<%= top_path %>">Top 10</a></li>
        <li<%= ' class=active' if params[:controller] == 'page_rank' and params[:action] == 'index' %>><a href="<%= page_rank_path %>">Page rank</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="<%= search_path %>">
        <input type="text" name="s" class="form-control" placeholder="Search..." value="<%= session['keyword'] %>">
      </form>
    </div><!--/.nav-collapse -->
  </div>
</div>